body,
html {
    font-family: 'Muli', sans-serif;
    margin: 0;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#field {
    width: 100vw;
    height: 100vh;
    background-color: lightgray;
    position: relative;
    overflow: hidden;
}

#scoreboard {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 20px;
    background: rgba(0, 0, 0, 0.75);
    color: white;
    font-size: 24px;
}

.score {
    padding: 0 5px;
}

#midline {
    height: 100%;
    position: absolute;
    top: 0;
    left: calc(50% - 2px);
    border-left: 4px dashed white;
    z-index: 0;
}

#ball {
    border-radius: 400px;
    width: 10px;
    height: 10px;
    background-color: black;
    position: absolute;
    top: 50%;
    left: calc(50% - 5px);
    z-index: 10;
}

.player {
    position: absolute;
    top: calc(50% - 10%);
    width: 5px;
    height: 20%;
    background-color: darkred;
}

#player1 { left: 15px; }
#player2 { right: 15px; }

